<!DOCTYPE html>
<html ng-app="acato" ng-controller="MainCtrl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>acato</title>

    <script src="node_modules/angular/angular.min.js" type="application/javascript"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js" type="application/javascript"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" type="application/javascript"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js" type="application/javascript"></script>
    <script src="node_modules/angular-translate/dist/angular-translate.min.js" type="application/javascript"></script>
    <script src="node_modules/angular-translate/dist/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js" type="application/javascript"></script>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <script src="app/main.js"></script>
    <script src="app/shared/employees/employee.service.js"></script>
    <script src="app/components/contact/js/contact.js"></script>

</head>
<body>
    <div class="container-fluid">
        <header class="text-center col-md-12">
            <h1>Acato</h1>
            <h3>Eregalerij</h3>
            <hr>
            <p>Blijf even plakken in onze galerij, of scroll naar beneden voor het:<br>
            <a href="#contact">contactformulier</a></p>
        </header>
        <div ng-repeat="employee in employees" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div class="flip-container" ng-click="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front" style="background-image:url({{employee.image}});"></div>
                    <div class="back">
                        <p class="text-center">{{employee.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" id="contact">
        <ng-include src="'app/components/contact/templates/contact.html'"></ng-include>
    </footer>
</body>
</html>