@import url("https://fonts.googleapis.com/css?family=Finger+Paint");
body {
  background-image: url("../img/concrete.jpg");
  background-repeat: repeat;
  font-family: "Finger Paint", cursive; }

.container-fluid {
  padding: 0px; }

header {
  color: white;
  background-color: #1eb9dd;
  padding: 50px 0px;
  -webkit-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.75); }
  header a {
    color: purple; }

.flip-container {
  perspective: 1000px;
  margin: 15px auto; }

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 220px;
  height: 220px; }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.75);
  border: 35px solid transparent;
  padding: 15px; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300% 310%;
  transform: rotateY(0deg);
  -webkit-border-image: url("../img/frame1.png") 200 round;
  /* Safari 3.1-5 */
  -o-border-image: url("../img/frame1.png") 200 round;
  /* Opera 11-12.1 */ }

/* back, initially hidden pane */
.back {
  background-image: url("../img/canvas.jpg");
  background-repeat: repeat;
  transform: rotateY(180deg);
  -webkit-border-image: url("../img/frame1bs.png") 200 round;
  /* Safari 3.1-5 */
  -o-border-image: url("../img/frame1bs.png") 200 round;
  /* Opera 11-12.1 */ }

footer {
  background-color: #1eb9dd;
  color: white;
  padding: 15px; }
