<div class="container" ng-controller="contactCtrl">
    <p>Neem gerust contact met ons op.<br>
        Een van de knappe koppen hierboven zal snel een antwoord sturen.</p>
    <form name="contactform" novalidate ng-submit="contactform.$valid && contact.submit()">
        <div class="form-group">
            <label for="email">Email adres</label>
            <input type="email" class="form-control" name="email" id="email" ng-model="contact.email" placeholder="Email" required>
                    <span style="color:red" ng-show="contactform.email.$dirty && contactform.email.$invalid">
                        <p ng-show="contactform.email.$error.required">Het email veld mag niet leeg zijn.</p>
                        <p ng-show="contactform.email.$error.email">Dit is geen correct email adres.</p>
                    </span>
        </div>
        <div class="form-group">
            <label for="Naam">Naam</label>
            <input type="text" class="form-control" name="Naam" id="Naam" ng-model="contact.name" placeholder="Naam" required>
                    <span style="color:red" ng-show="contactform.Naam.$dirty && contactform.Naam.$invalid">
                        <p ng-show="contactform.Naam.$error.required">We willen wel weten wie je bent ;)</p>
                    </span>
        </div>
        <div class="form-group">
            <label for="message">Bericht</label>
            <textarea class="form-control" id="message" name="message" rows="3" ng-model="contact.message" ng-minlength="10" required></textarea>
                    <span style="color:red" ng-show="contactform.message.$dirty && contactform.message.$invalid">
                        <p ng-show="contactform.message.$error.required">Heb je niets te zeggen?</p>
                        <p ng-show="contactform.message.$error.minlength">Is dat niet wat te kort?<br>Het minimum is 10 tekens.</p>
                    </span>
        </div>
        <button ng-disabled="contactform.$invalid" type="submit" ng-click="submit(contact)" class="btn btn-default">Verstuur</button>
    </form>
</div>